<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">

    <table border="1px">
        <tr align="center">
            <th>Subject Code</th>
            <th>Subject Name</th>
        </tr>
        <tbody>
        <th:block th:each="subject : ${subjectList}">
            <tr>
                <td th:text="${subject.code}"></td>
                <td th:text="${subject.name}"></td>
                <td><a th:href="@{/subject/detail}" > Detail </a></td>
            </tr>
        </th:block>

        </tbody>
    </table>
</div>
</body>
</html>